{% extends "layouts/front-end/base.njk" %}
{% set page = "Article" %}

{% block title %}{{ article.title }}{% endblock %}

{% block main %}
    <article class="max-w-3xl mx-auto">
        <h1 class="text-3xl font-bold mt-6">{{ article.title }}</h1>

        <p class="italic text-gray-600 mt-2">
            Par
            {% if article.author %}
                {{ article.author.firstname }} {{ article.author.lastname }}
            {% else %}
                l'équipe pédagogique
            {% endif %}
        </p>

        {% if article.image %}
            <img class="object-cover w-full rounded-lg my-6" src="/uploads/{{ article.image }}" alt="{{ article.title }}">
        {% endif %}

        {% if article.abstract %}
            <p class="text-xl font-bold">{{ article.abstract }}</p>
        {% endif %}

        <div class="mt-4">{{ article.content | safe }}</div>

        {% if article.yt_video_id %}
            <iframe class="w-full aspect-video rounded-lg my-6"
                src="https://www.youtube.com/embed/{{ article.yt_video_id }}"
                loading="lazy" allowfullscreen></iframe>
        {% endif %}
    </article>
{% endblock %}